$icon-font-path: "/bower_components/sass-bootstrap/fonts/";
$font-size-base: 18px;
$input-border-focus: #eec765;
$font-size-h1: floor($font-size-base * 4);

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  // space for the chat popup
  padding-bottom: 50px;
  background-color: #000;
  color: #FFF;
}

a {
  color: #FFF;
  text-decoration: underline;
}
a:hover {
  color: #fff;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

// Was here before, don't want it because it forces 768 even on large screens
/* Responsive: Portrait tablets and up */
//@media screen and (min-width: 768px) {
//  .container {
//    max-width: 730px;
//  }
//
//  /* Remove the padding we set earlier */
//  .header,
//  .marketing,
//  .footer {
//    padding-left: 0;
//    padding-right: 0;
//  }
//  /* Space out the masthead */
//  .header {
//    margin-bottom: 30px;
//  }
//  /* Remove the bottom border on the jumbotron for visual effect */
//  .jumbotron {
//    border-bottom: 0;
//  }
//}

@mixin collapser-heading-variant($border, $heading-text-color, $heading-bg-color, $heading-border) {
  border-color: $border;

  color: $heading-text-color;
  background-color: $heading-bg-color;
  border-color: $heading-border;

  + .panel-collapse .panel-body {
    border-top-color: $border;
  }
  & > .dropdown .caret {
    border-color: $heading-text-color transparent;
  }
}

.collapser > .panel-heading:hover {
  cursor: hand;
  cursor: pointer;

  @include collapser-heading-variant($panel-info-border, $panel-info-text, $panel-info-heading-bg, $panel-info-border);
}

//SEN time
#preview {
  overflow: scroll;
  padding: 0;
  margin: 0;
  width: 100%;
}


textarea {
  resize: vertical;
}


.btn-primary {
  color: #FFF;
  background-color: #DFA03B;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF5F5F5', endColorstr='#FFE8E8E8', GradientType=0);

  border-color: #DFA03B;
  -webkit-box-shadow: 0 1px 2px rgba(255, 255, 255, 0.05);
  box-shadow: 0 1px 2px rgba(255, 255, 255, 0.05);

  padding: $font-size-base/2 $font-size-base;
}

.btn-primary:active, .btn-primary:focus {
  color: #FFF;
  background-color: #eec765;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF5F5F5', endColorstr='#FFE8E8E8', GradientType=0);

  border-color: #DFA03B;
  -webkit-box-shadow: 0 2px 8px rgba(255, 255, 255, 0.1);
  box-shadow: 0 2px 8px rgba(255, 255, 255, 0.1);

  padding: $font-size-base/2 $font-size-base;
}

.btn-primary:hover {
  background-color: #DFA03B;
  border-color: #eec765;
}

iframe {
  -moz-box-shadow: 0px 0px 100px 1px rgba(255, 255, 255, .5);
  -webkit-box-shadow: 0px 0px 100px 1px rgba(255, 255, 255, .5);
  box-shadow: 0px 0px 100px 1px rgba(255, 255, 255, .5);
}

.h1 {
  padding-bottom: $font-size-base;
  font-weight: bold;
}

#header {
  padding-bottom: $font-size-base * 2;
}

#body {
  background-color: #fff;
  color: #000;
  padding-top: $font-size-base * 2;
  padding-bottom: $font-size-base * 2;
}

#footer {
  padding-top: $font-size-base * 2;
}

.help-block {
  color: #000;
  margin: 0 0 2px 0;
}

@media (max-width: $screen-md-max) {
  #previewContainer {
    display:none !important;
  }
}

@media (max-width: $screen-sm-max) {
  .h1 {
    font-size: floor($font-size-base * 3);
  }
}
