<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cardigans Humanity</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="styles/bd4b5f93.main.css"/>

    <!--load here so we can use ng-cloak-->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
</head>
<body ng-app="CardigansHumanityApp">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<script type="text/javascript">
if(navigator.userAgent.toLowerCase().indexOf('firefox') > -1) {
    alert("This website is very much broken in Firefox and I don't have the motivation to fix it. Try Chrome instead.")
}
</script>

<div ng-controller="MainCtrl">

    <section id="header">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-1" id="titleContainer">
                    <div class="h1">Cardigans<br>Humanity</div>
                    <div class="panel-title">Print your own <span style="text-decoration: line-through">Cards Against</span><br>Cardigans Humanity cards.
                    </div>
                </div>

                <div class="col-md-6">
                    <div id="previewContainer">
                        <div class="text-danger" ng-cloak="" ng-show="error">{{ error }}</div>
                        <iframe id="preview" ng-hide="{{ error }}" ng-src="{{ previewUriString }}" frameborder="0" seamless=""></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="body">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">

                    <form novalidate="" class="form" role="form" name="cardsForm">
                        <div class="form-group">
                            <span class="help-block"><label for="cards" class="control-label">Cards:</label> Each line of text is converted into a card. Use 5 consecutive underscores to create blanks.</span>
                            <textarea required="" class="form-control" id="cards" rows="6" ng-model="options.cards" ng-blur="previewCards()"></textarea>
                        </div>

                        <div class="form-group">
                            <span class="help-block"><label for="logoText" class="control-label">Logo Text:</label> Written at the bottom of each card. Making this blank will result in no logo or logo text.</span>
                            <input class="form-control" id="logoText" ng-model="options.logoText" ng-blur="previewCards()">
                        </div>

                        <div class="form-group pull-right">
                            <button ng-click="downloadCards()" class="btn btn-primary btn-md" ng-enabled="previewUriString"><span class="glyphicon glyphicon-download-alt"></span> Download Cards
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <a href="http://github.com/spenthil/cardiganshumanity">http://github.com/spenthil/cardiganshumanity</a>
                </div>
            </div>
        </div>
    </section>

</div>

<script type="text/javascript">
    var previewIFrame = document.getElementById("preview");
    var titleContainer = document.getElementById("titleContainer");
    var onResize = function() {
        previewIFrame.style.height = titleContainer.offsetHeight + "px";
    };
    onResize();
    window.addEventListener("orientationchange", onResize);
    window.addEventListener("resize", onResize);
</script>


<!--<script type="text/javascript" src="bower_components/jspdf/libs/Deflate/adler32cs.js"></script>-->

<script type="text/javascript" src="bower_components/jspdf/dist/jspdf.min.js"></script>
<!--<script type="text/javascript" src="bower_components/jspdf/jspdf.plugin.standard_fonts_metrics.js"></script>-->
<!--<script type="text/javascript" src="bower_components/jspdf/jspdf.plugin.split_text_to_size.js"></script>-->

<script src="scripts/a91d5f71.plugins.js"></script>

<script src="scripts/d41d8cd9.modules.js"></script>

<script src="scripts/fa38002e.scripts.js"></script>

</body>
</html>